body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('../../img/bgblur.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    justify-content: center;
    align-items: center;
    background: white;
    padding: 80px 80px 40px 80px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: 350px;
}

h2 {
    margin-bottom: 35px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 15px;
    color: black;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background: #00b386;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #009973;
}